body {
    background-image: url("https://picsum.photos/id/83/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header, .nav > a, #hero, #cta {
    color: white;
}

#header {
    background-color: #273e38;
    height: 60px;
}

#hero {
    font-size: 22px;
}

#hero > h1 {
    font-size: 80px;
}

#cta {
    background-color: #ff5666;
}

#cta:hover {
    color: #ff5666;
    background-color: white;
}

#services {
    background-color: #dcf8f1;
}

.card {
    background-color: white;
    width: fit-content;
}