body {
    background-image: url("https://picsum.photos/id/83/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header, .nav > a, #hero, #cta {
    color: white;
}

#header {
    background-color: #273e38;
    height: 60px;
    padding: 20px;
    padding-top: 40px;
}

.logo {
    float: left;
}

.nav {
    float: right;
}

.nav > a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.nav > a:hover {
    border-bottom: 2px solid;
}

#hero {
    font-size: 22px;
    margin: 10% auto 10% auto;
    width: fit-content;
}

#hero > h1 {
    font-size: 80px;
}

#cta {
    background-color: #ff5666;
    float: right;
}

#cta:hover {
    color: #ff5666;
    background-color: white;
}

.button {
    display: block;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
}

#services {
    background-color: #dcf8f1;
    padding: 20vh 40px 20vh 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    box-shadow: 5px 5px 20px #64706c;
}

#testimonials {
    padding: 20vh 40px 20vh 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quote::before, .quote::after {
    content: "\"";
    font-weight: bolder;
    font-size: 30px;
}

.attribution {
    font-weight: bolder;
}

.attribution::before {
    content: "-";
}